#cardsModalContainer {
    border-radius: 7px;
    border-style: solid;
    padding: 10px;
    border-color: #f1f1f1;
    border-width: 1.5px;
    margin-bottom: 20px;
}
#cardsContainer{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#cardContainer{  
    width: 17rem;
    height: 27rem;
    margin: 10px;
    cursor: pointer;
}
#cardImg {
    height: 30%;
}
#cardTitle{
    font-size: 95%;
    height: 40%;
    margin-bottom: 25px;
}
#buttons {
    height: 30%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-end;   
    justify-content: flex-end;
}